In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pandas as pd
from IPython.display import display
import pyspark.sql.functions as F

In [6]:
spark = SparkSession.builder \
    .appName("Cleaning") \
    .master("spark://spark-master:7077") \
    .config("spark.hadoop.fs.defaultFS", "hdfs://namenode:8020") \
    .getOrCreate()

In [7]:
df = spark.read.csv("hdfs://namenode:8020/data/bronze/2022/2022_brooklyn.csv", header=True, inferSchema=True)


df.show(5, truncate=False, vertical=False)

+-------+------------+-----------------------+--------------------+------+-----+--------+-------------------------+------------------+----------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+
|borough|neighborhood|building_class_category|tax_class_at_present|block |lot  |easement|building_class_at_present|address           |apartment_number|zip_code|residential_units|commercial_units|total_units|land_square_feet|gross_square_feet|year_built|tax_class_at_time_of_sale|building_class_at_time_of_sale|sale_price|sale_date |
+-------+------------+-----------------------+--------------------+------+-----+--------+-------------------------+------------------+----------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+
|3.0    |BATH BEACH  |01 ONE FAMILY DWELLINGS|1                   |6360.0|56.0 |null    |A5                       |30 BAY 10         |null            |11228.0 |1.0              |0.0             |1.0        |1546.0          |1428.0           |1930.0    |1.0                      |A5                            |75000.0   |2022-06-01|
|3.0    |BATH BEACH  |01 ONE FAMILY DWELLINGS|1                   |6360.0|157.0|null    |A5                       |36 BAY 10TH STREET|null            |11228.0 |1.0              |0.0             |1.0        |1547.0          |1428.0           |1930.0    |1.0                      |A5                            |0.0       |2022-03-18|
|3.0    |BATH BEACH  |01 ONE FAMILY DWELLINGS|1                   |6363.0|22.0 |null    |A9                       |8645 16TH AVENUE  |null            |11214.0 |1.0              |0.0             |1.0        |2058.0          |1492.0           |1930.0    |1.0                      |A9                            |875000.0  |2022-01-07|
|3.0    |BATH BEACH  |01 ONE FAMILY DWELLINGS|1                   |6363.0|48.0 |null    |A9                       |12 BAY 13TH ST    |null            |11214.0 |1.0              |0.0             |1.0        |3142.0          |3200.0           |1999.0    |1.0                      |A9                            |0.0       |2022-03-14|
|3.0    |BATH BEACH  |01 ONE FAMILY DWELLINGS|1                   |6363.0|62.0 |null    |A9                       |44 BAY 13TH STREET|null            |11214.0 |1.0              |0.0             |1.0        |3575.0          |2104.0           |1901.0    |1.0                      |A9                            |990000.0  |2022-10-18|
+-------+------------+-----------------------+--------------------+------+-----+--------+-------------------------+------------------+----------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+
only showing top 5 rows

In [9]:
display(df.limit(5).toPandas())

,borough,neighborhood,building_class_category,tax_class_at_present,block,lot,easement,building_class_at_present,address,apartment_number,...,residential_units,commercial_units,total_units,land_square_feet,gross_square_feet,year_built,tax_class_at_time_of_sale,building_class_at_time_of_sale,sale_price,sale_date
0,3.0,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6360.0,56.0,None,A5,30 BAY 10,None,...,1.0,0.0,1.0,1546.0,1428.0,1930.0,1.0,A5,75000.0,2022-06-01
1,3.0,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6360.0,157.0,None,A5,36 BAY 10TH STREET,None,...,1.0,0.0,1.0,1547.0,1428.0,1930.0,1.0,A5,0.0,2022-03-18
2,3.0,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6363.0,22.0,None,A9,8645 16TH AVENUE,None,...,1.0,0.0,1.0,2058.0,1492.0,1930.0,1.0,A9,875000.0,2022-01-07
3,3.0,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6363.0,48.0,None,A9,12 BAY 13TH ST,None,...,1.0,0.0,1.0,3142.0,3200.0,1999.0,1.0,A9,0.0,2022-03-14
4,3.0,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6363.0,62.0,None,A9,44 BAY 13TH STREET,None,...,1.0,0.0,1.0,3575.0,2104.0,1901.0,1.0,A9,990000.0,2022-10-18