In [13]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [14]:
spark = SparkSession.builder\
         .appName("ExplorationAndPrepration")\
         .master("spark://spark-master:7077")\
         .getOrCreate()

In [15]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType

schema = StructType([
    StructField("borough", StringType(), True),
    StructField("neighborhood", StringType(), True),
    StructField("building_class_category", StringType(), True),
    StructField("tax_class_at_present", StringType(), True),
    StructField("block", StringType(), True),
    StructField("lot", StringType(), True),
    StructField("ease_ment", StringType(), True),
    StructField("building_class_at_present", StringType(), True),
    StructField("address", StringType(), True),
    StructField("apartment_number", StringType(), True),
    StructField("zip_code", StringType(), True),
    StructField("residential_units", StringType(), True),
    StructField("commercial_units", StringType(), True),
    StructField("total_units", StringType(), True),
    StructField("land_square_feet", DoubleType(), True),  # will clean later
    StructField("gross_square_feet", DoubleType(), True),
    StructField("year_built", StringType(), True),
    StructField("tax_class_at_time_of_sale", StringType(), True),
    StructField("building_class_at_time_of_sale", StringType(), True),
    StructField("sale_price", DoubleType(), True),         # will convert to numeric
    StructField("sale_date", StringType(), True)           # will parse to date
])

In [16]:
df = (
    spark.read.option("header", True)
               .csv(["hdfs://namenode:8020/data/bronze/2022", "hdfs://namenode:8020/data/bronze/2023", "hdfs://namenode:8020/data/bronze/2024"],schema = schema)
               .drop("apartment_number", "easement")
)

In [17]:
columns_to_cast = ["zip_code", "block", "lot", "residential_units", "commercial_units","year_built","tax_class_at_time_of_sale"]

for col_name in columns_to_cast:
    df = df.withColumn(
        col_name,
        regexp_replace(col(col_name), r"\.0$", "").cast("int")
    )

In [18]:
df.count()

KeyboardInterrupt:

In [ ]:
null_count = df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns])

In [ ]:
null_count.show()

+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+---------+
|borough|neighborhood|building_class_category|tax_class_at_present|block|lot|building_class_at_present|address|zip_code|residential_units|commercial_units|total_units|land_square_feet|gross_square_feet|year_built|tax_class_at_time_of_sale|building_class_at_time_of_sale|sale_price|sale_date|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+---------+
|      0|           0|                      0|                 112|    0|  0|                      112|      0|      22|            60595|          105020|      52497|          113118|           113118|     16456|                        1|                             1|         1|        1|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+---------+

`tax_class_category` & `tax_class_at_present` : Drop rows (They show in a small portion in the data)

In [ ]:
df.filter(col("year_built").isNull()).show()

+-------+------------------+-----------------------+--------------------+-----+----+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+
|borough|      neighborhood|building_class_category|tax_class_at_present|block| lot|building_class_at_present|             address|zip_code|residential_units|commercial_units|total_units|land_square_feet|gross_square_feet|year_built|tax_class_at_time_of_sale|building_class_at_time_of_sale|sale_price| sale_date|
+-------+------------------+-----------------------+--------------------+-----+----+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+
|    4.0|AIRPORT LA GUARDIA|   12 CONDOS - WALKU...|                   2|  949|1017|                       R2|19-17 80TH STREET, 1|   11370|                1|            null|        1.0|            null|             null|      null|                        2|                            R2|  335000.0|2022-11-09|
|    4.0|AIRPORT LA GUARDIA|   12 CONDOS - WALKU...|                   2|  949|1022|                       R2|19-13 80TH STREET, 2|   11370|                1|            null|        1.0|            null|             null|      null|                        2|                            R2|  630000.0|2022-07-26|
|    4.0|           ARVERNE|   05 TAX CLASS 1 VA...|                  1B|15830|   4|                       V0|40-08 ROCKAWAY BE...|   11691|                0|               0|        0.0|          1517.0|              0.0|      null|                        1|                            V0|    3000.0|2022-02-03|
|    4.0|           ARVERNE|   05 TAX CLASS 1 VA...|                  1B|15910|  53|                       V0|339 BEACH 65TH ST...|   11692|                0|               0|        0.0|          1849.0|              0.0|      null|                        1|                            V0|  100000.0|2022-09-07|
|    4.0|           ARVERNE|   05 TAX CLASS 1 VA...|                  1B|15972|   3|                       V0| N/A BEACH 48 STREET|   11691|                0|               0|        0.0|          3804.0|              0.0|      null|                        1|                            V0|   40000.0|2022-06-06|
|    4.0|           ARVERNE|   05 TAX CLASS 1 VA...|                  1B|16062|   4|                       V0|N/A HILLMEYER AVENUE|   11692|                0|               0|        0.0|           500.0|              0.0|      null|                        1|                            V0|    7500.0|2022-02-23|
|    4.0|           ARVERNE|   05 TAX CLASS 1 VA...|                  1B|16062|   5|                       V0|N/A HILLMEYER AVENUE|   11692|                0|               0|        0.0|          2000.0|              0.0|      null|                        1|                            V0|    7500.0|2022-02-23|
|    4.0|           ARVERNE|   05 TAX CLASS 1 VA...|                  1B|16062|   6|                       V0|N/A HILLMEYER AVENUE|   11692|                0|               0|        0.0|          2000.0|              0.0|      null|                        1|                            V0|    7500.0|2022-02-23|
|    4.0|           ARVERNE|   29 COMMERCIAL GAR...|                   4|15890|  84|                       G7| N/A BEACH 53 STREET|   11691|                0|               0|        0.0|          9999.0|              0.0|      null|                        4|                            G7|  472000.0|2022-09-22|
|    4.0|           ARVERNE|   29 COMMERCIAL GAR...|                   4|16013|   1|                       G7|N/A BEACH CHANNEL...|    null|                0|               0|        0.0|         32938.0|              0.0|      null|                        4|                            G7| 4000000.0|2022-07-18|
|    4.0|           ARVERNE|   31 COMMERCIAL VAC...|                   4|15825|   7|                       V1|N/A BEACH CHANNEL...|   11691|                0|               0|        0.0|         37490.0|              0.0|      null|                        4|                            V1|       2.0|2022-12-23|
|    4.0|           ARVERNE|   31 COMMERCIAL VAC...|                   4|16038|  68|                       V1|64-04 BEACH CHANN...|   11692|                0|               0|        0.0|          4382.0|              0.0|      null|                        4|                            V1| 2555000.0|2022-12-05|
|    4.0|           ASTORIA|   05 TAX CLASS 1 VA...|                  1B|  536| 141|                       V0|     N/A 21ST STREET|   11102|                0|               0|        0.0|           425.0|              0.0|      null|                        1|                            V0| 1325000.0|2022-12-16|
|    4.0|           ASTORIA|   05 TAX CLASS 1 VA...|                  1B|  549|  16|                       V0|   30-09 21ST STREET|   11102|                0|               0|        0.0|          2000.0|              0.0|      null|                        1|                            V0| 1400000.0|2022-11-02|
|    4.0|           ASTORIA|   05 TAX CLASS 1 VA...|                  1B|  659| 157|                       V0|     N/A 37TH STREET|   11103|                0|               0|        0.0|           614.0|              0.0|      null|                        1|                            V0| 1155000.0|2022-11-22|
|    4.0|           ASTORIA|   05 TAX CLASS 1 VA...|                  1B|  716| 131|                       V0|     N/A 45TH STREET|   11103|                0|               0|        0.0|           499.0|              0.0|      null|                        1|                            V0|  695000.0|2022-07-15|
|    4.0|           ASTORIA|   05 TAX CLASS 1 VA...|                  1B|  896| 211|                       V0| N/A SHORE BOULEVARD|   11105|                0|               0|        0.0|          2000.0|              0.0|      null|                        1|                            V0| 4500000.0|2022-03-02|
|    4.0|           ASTORIA|   05 TAX CLASS 1 VA...|                  1B|  896| 212|                       V0| N/A SHORE BOULEVARD|   11105|                0|               0|        0.0|          2000.0|              0.0|      null|                        1|                            V0| 4500000.0|2022-03-02|
|    4.0|           ASTORIA|   05 TAX CLASS 1 VA...|                  1B|  896| 213|                       V0| N/A SHORE BOULEVARD|   11105|                0|               0|        0.0|          4000.0|              0.0|      null|                        1|                            V0| 4500000.0|2022-03-02|
|    4.0|           ASTORIA|   05 TAX CLASS 1 VA...|                  1B|  901|  21|                       V0|   26-25 14TH STREET|   11102|                0|               0|        0.0|          5490.0|              0.0|      null|                        1|                            V0|       0.0|2022-04-21|
+-------+------------------+-----------------------+--------------------+-----+----+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+
only showing top 20 rows

In [ ]:
df = df.withColumn(
    "total_units",
    coalesce(col("residential_units"), lit(0)) + coalesce(col("commercial_units"), lit(0))
)

In [ ]:
df.select(count(when(col("total_units").isNull(), "total_units")).alias("total_units")).show()

+-----------+
|total_units|
+-----------+
|          0|
+-----------+

In [ ]:
df.filter(col("building_class_at_present").isNull()).show()

+-------+------------------+-----------------------+--------------------+-----+----+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+
|borough|      neighborhood|building_class_category|tax_class_at_present|block| lot|building_class_at_present|             address|zip_code|residential_units|commercial_units|total_units|land_square_feet|gross_square_feet|year_built|tax_class_at_time_of_sale|building_class_at_time_of_sale|sale_price| sale_date|
+-------+------------------+-----------------------+--------------------+-----+----+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+
|    4.0|    FLUSHING-NORTH|   13 CONDOS - ELEVA...|                null| 5375|1219|                     null|42-29 PARSONS BOU...|   11355|                1|            null|          1|            null|             null|      2014|                        2|                            R4|  425880.0|2022-05-25|
|    4.0|  LONG ISLAND CITY|   28 COMMERCIAL CONDOS|                null|  447|1001|                     null|11-05 44TH DRIVE,...|   11101|             null|               1|          1|            null|             null|      1931|                        4|                            R5|       0.0|2022-05-19|
|    4.0|  LONG ISLAND CITY|   28 COMMERCIAL CONDOS|                null|  447|1002|                     null|11-05 44TH DRIVE,...|   11101|             null|               1|          1|            null|             null|      1931|                        4|                            R5|       0.0|2022-05-19|
|    4.0|         RIDGEWOOD|   04 TAX CLASS 1 CO...|                null| 3564|1001|                     null|1736 GEORGE STREE...|   11385|                1|            null|          1|            null|             null|      1910|                        1|                            R6| 1100000.0|2022-05-05|
|    4.0|         RIDGEWOOD|   04 TAX CLASS 1 CO...|                null| 3564|1002|                     null|17-36 GEORGE STRE...|   11385|                1|            null|          1|            null|             null|      1910|                        1|                            R6| 1250000.0|2022-05-23|
|    3.0|        BATH BEACH|   04 TAX CLASS 1 CO...|                null| 6424|1109|                     null|210 BAY 7TH STREE...|   11228|                1|            null|          1|            null|             null|      2021|                        1|                            R3|  760688.0|2022-04-26|
|    3.0|        BATH BEACH|   04 TAX CLASS 1 CO...|                null| 6424|1110|                     null|210 BAY 7TH STREE...|   11228|                1|            null|          1|            null|             null|      2021|                        1|                            R3|  749000.0|2022-04-29|
|    3.0|        BATH BEACH|   04 TAX CLASS 1 CO...|                null| 6424|1111|                     null|210 BAY 7TH STREE...|   11228|                1|            null|          1|            null|             null|      2021|                        1|                            R3|  735331.0|2022-04-26|
|    3.0|        BATH BEACH|   04 TAX CLASS 1 CO...|                null| 6424|1112|                     null|210 BAY 7TH STREE...|   11228|                1|            null|          1|            null|             null|      2021|                        1|                            R3|  824783.0|2022-05-18|
|    3.0|        BATH BEACH|   04 TAX CLASS 1 CO...|                null| 6424|1113|                     null|210 BAY 7TH STREE...|   11228|                1|            null|          1|            null|             null|      2021|                        1|                            R3|  776078.0|2022-05-10|
|    3.0|        BATH BEACH|   04 TAX CLASS 1 CO...|                null| 6424|1114|                     null|210 BAY 7TH STREE...|   11228|                1|            null|          1|            null|             null|      2021|                        1|                            R3|  731616.0|2022-04-27|
|    3.0|        BATH BEACH|   04 TAX CLASS 1 CO...|                null| 6424|1115|                     null|210 BAY 7TH STREE...|   11228|                1|            null|          1|            null|             null|      2021|                        1|                            R3|  730085.0|2022-05-16|
|    3.0|        BATH BEACH|   04 TAX CLASS 1 CO...|                null| 6424|1120|                     null|210 BAY 7TH STREE...|   11228|                1|            null|          1|            null|             null|      2021|                        1|                            R3|  739000.0|2022-05-18|
|    3.0|        BATH BEACH|       44 CONDO PARKING|                null| 6424|1101|                     null|210 BAY 7TH STREE...|   11228|             null|               1|          1|            null|             null|      2021|                        4|                            RP|  760688.0|2022-04-26|
|    3.0|        BATH BEACH|       44 CONDO PARKING|                null| 6424|1102|                     null|210 BAY 7TH STREE...|   11228|             null|               1|          1|            null|             null|      2021|                        4|                            RP|  824783.0|2022-05-18|
|    3.0|        BATH BEACH|       44 CONDO PARKING|                null| 6424|1104|                     null|210 BAY 7TH STREE...|   11228|             null|               1|          1|            null|             null|      2021|                        4|                            RP|  776078.0|2022-05-10|
|    3.0|BEDFORD STUYVESANT|   12 CONDOS - WALKU...|                null| 1988|1001|                     null|107 MADISON STREE...|   11216|                1|            null|          1|            null|             null|      2019|                        2|                            R2|  947568.0|2022-02-07|
|    3.0|BEDFORD STUYVESANT|   12 CONDOS - WALKU...|                null| 1988|1002|                     null|107 MADISON STREE...|   11216|                1|            null|          1|            null|             null|      2019|                        2|                            R2| 1236178.0|2022-03-28|
|    3.0|BEDFORD STUYVESANT|   12 CONDOS - WALKU...|                null| 1988|1004|                     null|107 MADISON STREE...|   11216|                1|            null|          1|            null|             null|      2019|                        2|                            R2|  705000.0|2022-01-18|
|    3.0|BEDFORD STUYVESANT|   12 CONDOS - WALKU...|                null| 1988|1008|                     null|107 MADISON STREE...|   11216|                1|            null|          1|            null|             null|      2019|                        2|                            R2|  705000.0|2022-03-28|
+-------+------------------+-----------------------+--------------------+-----+----+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+
only showing top 20 rows

In [ ]:
test = df.filter(col("residential_units").isNull() & col("commercial_units").isNull())

In [ ]:
test.select("building_class_category").distinct().show(truncate = False)

+--------------------------------+
|building_class_category         |
+--------------------------------+
|02 TWO FAMILY DWELLINGS         |
|17 CONDO COOPS                  |
|08 RENTALS - ELEVATOR APARTMENTS|
|09 COOPS - WALKUP APARTMENTS    |
|01 ONE FAMILY DWELLINGS         |
|21 OFFICE BUILDINGS             |
|10 COOPS - ELEVATOR APARTMENTS  |
+--------------------------------+

In [ ]:
df.select("building_class_category").orderBy("building_class_category").distinct().show(1000,truncate=False)

+------------------------------------------+
|building_class_category                   |
+------------------------------------------+
|02 TWO FAMILY DWELLINGS                   |
|17 CONDO COOPS                            |
|49 CONDO WAREHOUSES/FACTORY/INDUS         |
|40 SELECTED GOVERNMENTAL FACILITIES       |
|31 COMMERCIAL VACANT LAND                 |
|27 FACTORIES                              |
|30 WAREHOUSES                             |
|28 COMMERCIAL CONDOS                      |
|47 CONDO NON-BUSINESS STORAGE             |
|36 OUTDOOR RECREATIONAL FACILITIES        |
|34 THEATRES                               |
|13 CONDOS - ELEVATOR APARTMENTS           |
|38 ASYLUMS AND HOMES                      |
|08 RENTALS - ELEVATOR APARTMENTS          |
|29 COMMERCIAL GARAGES                     |
|09 COOPS - WALKUP APARTMENTS              |
|03 THREE FAMILY DWELLINGS                 |
|32 HOSPITAL AND HEALTH FACILITIES         |
|48 CONDO TERRACES/GARDENS/CABANAS         |
|12 CONDOS - WALKUP APARTMENTS             |
|15 CONDOS - 2-10 UNIT RESIDENTIAL         |
|35 INDOOR PUBLIC AND CULTURAL FACILITIES  |
|44 CONDO PARKING                          |
|05 TAX CLASS 1 VACANT LAND                |
|25 LUXURY HOTELS                          |
|16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT|
|37 RELIGIOUS FACILITIES                   |
|43 CONDO OFFICE BUILDINGS                 |
|45 CONDO HOTELS                           |
|22 STORE BUILDINGS                        |
|41 TAX CLASS 4 - OTHER                    |
|39 TRANSPORTATION FACILITIES              |
|04 TAX CLASS 1 CONDOS                     |
|01 ONE FAMILY DWELLINGS                   |
|46 CONDO STORE BUILDINGS                  |
|26 OTHER HOTELS                           |
|06 TAX CLASS 1 - OTHER                    |
|11 SPECIAL CONDO BILLING LOTS             |
|21 OFFICE BUILDINGS                       |
|33 EDUCATIONAL FACILITIES                 |
|07 RENTALS - WALKUP APARTMENTS            |
|10 COOPS - ELEVATOR APARTMENTS            |
|42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC |
|14 RENTALS - 4-10 UNIT                    |
+------------------------------------------+

In [ ]:
df.filter(col("residential_units").isNull()).select("building_class_category").distinct().show(truncate=False,n = 1000)

+-----------------------------------------+
|building_class_category                  |
+-----------------------------------------+
|02 TWO FAMILY DWELLINGS                  |
|17 CONDO COOPS                           |
|49 CONDO WAREHOUSES/FACTORY/INDUS        |
|28 COMMERCIAL CONDOS                     |
|47 CONDO NON-BUSINESS STORAGE            |
|08 RENTALS - ELEVATOR APARTMENTS         |
|09 COOPS - WALKUP APARTMENTS             |
|48 CONDO TERRACES/GARDENS/CABANAS        |
|44 CONDO PARKING                         |
|43 CONDO OFFICE BUILDINGS                |
|45 CONDO HOTELS                          |
|41 TAX CLASS 4 - OTHER                   |
|01 ONE FAMILY DWELLINGS                  |
|46 CONDO STORE BUILDINGS                 |
|21 OFFICE BUILDINGS                      |
|10 COOPS - ELEVATOR APARTMENTS           |
|42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC|
+-----------------------------------------+

In [ ]:
df.filter(col("residential_units").isNull() & col("building_class_category").isin(["02 TWO FAMILY DWELLINGS","08 RENTALS - ELEVATOR APARTMENTS","COOPS - WALKUP APARTMENTS","01 ONE FAMILY DWELLINGS","10 COOPS - ELEVATOR APARTMENTS"])).count()

41129

In [ ]:
df.filter(col("building_class_category").isin(["02 TWO FAMILY DWELLINGS","08 RENTALS - ELEVATOR APARTMENTS","COOPS - WALKUP APARTMENTS","01 ONE FAMILY DWELLINGS","10 COOPS - ELEVATOR APARTMENTS"])).show()

+-------+------------------+-----------------------+--------------------+-----+---+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+
|borough|      neighborhood|building_class_category|tax_class_at_present|block|lot|building_class_at_present|             address|zip_code|residential_units|commercial_units|total_units|land_square_feet|gross_square_feet|year_built|tax_class_at_time_of_sale|building_class_at_time_of_sale|sale_price| sale_date|
+-------+------------------+-----------------------+--------------------+-----+---+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+
|    4.0|AIRPORT LA GUARDIA|   01 ONE FAMILY DWE...|                   1|  949| 34|                       A5|   19-48 81ST STREET|   11370|                1|               0|          1|          1799.0|           1224.0|      1945|                        1|                            A5|  864195.0|2022-07-15|
|    4.0|AIRPORT LA GUARDIA|   01 ONE FAMILY DWE...|                   1|  949| 37|                       A5|   19-54 81ST STREET|   11370|                1|               0|          1|          1799.0|           1224.0|      1945|                        1|                            A5|  815000.0|2022-06-24|
|    4.0|AIRPORT LA GUARDIA|   01 ONE FAMILY DWE...|                   1|  976| 55|                       A5|   21-33 80TH STREET|   11370|                1|               0|          1|          1799.0|           1224.0|      1950|                        1|                            A5|  830000.0|2022-09-23|
|    4.0|AIRPORT LA GUARDIA|   01 ONE FAMILY DWE...|                   1|  976| 60|                       A5|   21-23 80TH STREET|   11370|                1|               0|          1|          1800.0|           1224.0|      1950|                        1|                            A5|  900000.0|2022-02-08|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15830|  5|                       A6|40-10 ROCKAWAY BE...|   11691|                1|               0|          1|          1594.0|            482.0|      1920|                        1|                            A6|  195000.0|2022-02-03|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15830|  8|                       A5|4016 ROCKAWAY BEA...|   11691|                1|               0|          1|          3231.0|           1520.0|      2005|                        1|                            A5|  585000.0|2022-07-27|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15830| 48|                       A5| 335 BEACH 40 STREET|   11691|                1|               0|          1|          2245.0|           1350.0|      2005|                        1|                            A5|       0.0|2022-07-01|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15833| 47|                       A5|341 BEACH 42ND ST...|   11691|                1|               0|          1|          2850.0|           1332.0|      2006|                        1|                            A5|  549999.0|2022-09-23|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15834| 57|                       A5|      329 BEACH 43RD|   11691|                1|               0|          1|          2228.0|           1476.0|      2006|                        1|                            A5|  315000.0|2022-04-15|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15834| 57|                       A5|   329 BEACH 43RD ST|   11691|                1|               0|          1|          2228.0|           1476.0|      2006|                        1|                            A5|  600000.0|2022-11-07|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15835| 63|                       A2|337 BEACH 44TH ST...|   11691|                1|               0|          1|          3431.0|           2268.0|      1920|                        1|                            A2|       0.0|2022-05-25|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15837| 27|                       A2| 354 BEACH 46 STREET|   11691|                1|               0|          1|          3804.0|           2304.0|      1925|                        1|                            A2|  190000.0|2022-08-19|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15837| 56|                       A1|335 BEACH 45TH ST...|   11691|                1|               0|          1|          2470.0|           1048.0|      1925|                        1|                            A1|  505000.0|2022-03-11|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15839| 64|                       A2| 311 BEACH 47 STREET|   11691|                1|               0|          1|          2853.0|           2080.0|      1920|                        1|                            A2|       0.0|2022-08-24|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15849| 22|                       A6|40-01 ROCKAWAY BE...|   11691|                1|               0|          1|          2626.0|            618.0|      1920|                        1|                            A6|  542000.0|2022-03-01|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15850| 30|                       A6| 206 BEACH 42 STREET|   11691|                1|               0|          1|          2000.0|            560.0|      1920|                        1|                            A6|  375000.0|2022-09-23|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15905| 47|                       A5|123 BEACH 62ND ST...|   11692|                1|               0|          1|          4413.0|           2626.0|      2014|                        1|                            A5| 1138000.0|2022-10-14|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15908| 16|                       A0|63-07 BEACH CHANN...|   11692|                1|               0|          1|          4000.0|           1020.0|      1950|                        1|                            A0|       0.0|2022-03-31|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15954| 82|                       A5|        403 BEACH 37|   11691|                1|               0|          1|          2896.0|           1502.0|      2008|                        1|                            A5|  540000.0|2022-03-09|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15960|  8|                       A1| 410 BEACH 43 STREET|   11691|                1|               0|          1|          2252.0|            866.0|      2018|                        1|                            A1|  146138.0|2022-11-09|
+-------+------------------+-----------------------+--------------------+-----+---+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+
only showing top 20 rows

In [ ]:
df.filter(col("building_class_category").isin(["08 RENTALS - ELEVATOR APARTMENTS","COOPS - WALKUP APARTMENTS","10 COOPS - ELEVATOR APARTMENTS"])).show()

+-------+------------+-----------------------+--------------------+-----+---+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+
|borough|neighborhood|building_class_category|tax_class_at_present|block|lot|building_class_at_present|             address|zip_code|residential_units|commercial_units|total_units|land_square_feet|gross_square_feet|year_built|tax_class_at_time_of_sale|building_class_at_time_of_sale|sale_price| sale_date|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+
|    4.0|     ARVERNE|   08 RENTALS - ELEV...|                   2|15890| 97|                       D3| 311 BEACH 53 STREET|   11691|               16|               0|         16|         10800.0|          10962.0|      2004|                        2|                            D3| 3000000.0|2022-04-14|
|    4.0|     ASTORIA|   08 RENTALS - ELEV...|                   2|  598| 64|                       D7|   28-04 31ST STREET|   11102|               10|               2|         12|          3750.0|          16873.0|      2006|                        2|                            D7| 5815000.0|2022-01-07|
|    4.0|     ASTORIA|   08 RENTALS - ELEV...|                  2B|  653| 90|                       D1|   25-78 38TH STREET|   11103|                7|               0|          7|          2521.0|           4982.0|      2013|                        2|                            D1|       0.0|2022-02-15|
|    4.0|     ASTORIA|   08 RENTALS - ELEV...|                  2B|  835| 12|                       D7|   23-67 31ST STREET|   11105|                9|               1|         10|          2250.0|           7634.0|      2016|                        2|                            D7| 6400000.0|2022-09-01|
|    4.0|     ASTORIA|   08 RENTALS - ELEV...|                   2|  835| 14|                       D7|   23-61 31ST STREET|   11105|               10|               1|         11|          2250.0|           8155.0|      2020|                        2|                            D7| 5930000.0|2022-07-20|
|    4.0|     ASTORIA|   08 RENTALS - ELEV...|                   2|  890| 91|                       D1|   23-06 21ST STREET|   11105|               59|               0|         59|         10379.0|          50100.0|      1929|                        2|                            D1|    1.16E7|2022-01-27|
|    4.0|     ASTORIA|   08 RENTALS - ELEV...|                   2|  910| 27|                       D3|      26-12 4 STREET|   11102|               18|               0|         18|          5159.0|          15270.0|      2021|                        2|                            D3|       0.0|2022-02-16|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-43 14 STREET, 15A|   11106|             null|            null|          0|            null|             null|      1958|                        2|                            D4|  475000.0|2022-08-10|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-43 14TH STREET...|   11106|             null|            null|          0|            null|             null|      1958|                        2|                            D4|  455000.0|2022-06-17|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-43 14TH STREET...|   11106|             null|            null|          0|            null|             null|      1958|                        2|                            D4|  425000.0|2022-02-10|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|   33-47 14TH ST, 4D|   11106|             null|            null|          0|            null|             null|      1958|                        2|                            D4|  228000.0|2022-10-24|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-55 14TH STREET...|   11106|             null|            null|          0|            null|             null|      1958|                        2|                            D4|  448000.0|2022-11-29|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-60 21 STREET, 10C|   11106|             null|            null|          0|            null|             null|      1958|                        2|                            D4|  360000.0|2022-04-12|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|  33-60 21ST ST, 12A|   11106|             null|            null|          0|            null|             null|      1958|                        2|                            D4|  635000.0|2022-09-19|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-60 21ST STREET...|   11106|             null|            null|          0|            null|             null|      1958|                        2|                            D4|  565000.0|2022-12-20|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-60 21ST STREET...|   11106|             null|            null|          0|            null|             null|      1958|                        2|                            D4|  610000.0|2022-09-13|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-64 21ST STREET...|   11106|             null|            null|          0|            null|             null|      1958|                        2|                            D4|  489000.0|2022-01-20|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-64 21ST STREET...|   11106|             null|            null|          0|            null|             null|      1958|                        2|                            D4|  470000.0|2022-01-12|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-64 21ST STREET...|   11106|             null|            null|          0|            null|             null|      1958|                        2|                            D4|  458200.0|2022-07-06|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-64 21ST STREET...|   11106|             null|            null|          0|            null|             null|      1958|                        2|                            D4|  485000.0|2022-08-26|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+
only showing top 20 rows

In [ ]:
df = df.withColumn(
    "residential_units",
    when(
        ((col("residential_units").isNull()) | (col("residential_units") == 0)) &
        (col("building_class_category") == "01 ONE FAMILY DWELLINGS"),
        1
    ).when(
        ((col("residential_units").isNull()) | (col("residential_units") == 0)) &
        (col("building_class_category") == "02 TWO FAMILY DWELLINGS"),
        2
    ).when(
        ((col("residential_units").isNull()) | (col("residential_units") == 0)) &
        (col("building_class_category").isin(
            "08 RENTALS - ELEVATOR APARTMENTS",
            "09 COOPS - WALKUP APARTMENTS",
            "10 COOPS - ELEVATOR APARTMENTS"
        )) &
        (col("total_units").isNotNull()),
        col("total_units")
    ).when(
        ((col("residential_units").isNull()) | (col("residential_units") == 0)) &
        (col("building_class_category").isin(
            "17 CONDO COOPS",
            "49 CONDO WAREHOUSES/FACTORY/INDUS",
            "28 COMMERCIAL CONDOS",
            "47 CONDO NON-BUSINESS STORAGE",
            "48 CONDO TERRACES/GARDENS/CABANAS",
            "44 CONDO PARKING",
            "43 CONDO OFFICE BUILDINGS",
            "45 CONDO HOTELS",
            "41 TAX CLASS 4 - OTHER",
            "46 CONDO STORE BUILDINGS",
            "21 OFFICE BUILDINGS",
            "42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC"
        )), 
        0
    ).otherwise(col("residential_units"))
)

In [ ]:
null_count = df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns])

In [ ]:
null_count.show()

+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+---------+
|borough|neighborhood|building_class_category|tax_class_at_present|block|lot|building_class_at_present|address|zip_code|residential_units|commercial_units|total_units|land_square_feet|gross_square_feet|year_built|tax_class_at_time_of_sale|building_class_at_time_of_sale|sale_price|sale_date|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+---------+
|      0|           0|                      0|                 112|    0|  0|                      112|      0|      22|                0|          105020|          0|          113118|           113118|     16456|                        1|                             1|         1|        1|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+---------+

In [ ]:
df.filter(col("building_class_category").isin(["08 RENTALS - ELEVATOR APARTMENTS","COOPS - WALKUP APARTMENTS","10 COOPS - ELEVATOR APARTMENTS"])).show()

+-------+------------+-----------------------+--------------------+-----+---+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+
|borough|neighborhood|building_class_category|tax_class_at_present|block|lot|building_class_at_present|             address|zip_code|residential_units|commercial_units|total_units|land_square_feet|gross_square_feet|year_built|tax_class_at_time_of_sale|building_class_at_time_of_sale|sale_price| sale_date|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+
|    4.0|     ARVERNE|   08 RENTALS - ELEV...|                   2|15890| 97|                       D3| 311 BEACH 53 STREET|   11691|               16|               0|         16|         10800.0|          10962.0|      2004|                        2|                            D3| 3000000.0|2022-04-14|
|    4.0|     ASTORIA|   08 RENTALS - ELEV...|                   2|  598| 64|                       D7|   28-04 31ST STREET|   11102|               10|               2|         12|          3750.0|          16873.0|      2006|                        2|                            D7| 5815000.0|2022-01-07|
|    4.0|     ASTORIA|   08 RENTALS - ELEV...|                  2B|  653| 90|                       D1|   25-78 38TH STREET|   11103|                7|               0|          7|          2521.0|           4982.0|      2013|                        2|                            D1|       0.0|2022-02-15|
|    4.0|     ASTORIA|   08 RENTALS - ELEV...|                  2B|  835| 12|                       D7|   23-67 31ST STREET|   11105|                9|               1|         10|          2250.0|           7634.0|      2016|                        2|                            D7| 6400000.0|2022-09-01|
|    4.0|     ASTORIA|   08 RENTALS - ELEV...|                   2|  835| 14|                       D7|   23-61 31ST STREET|   11105|               10|               1|         11|          2250.0|           8155.0|      2020|                        2|                            D7| 5930000.0|2022-07-20|
|    4.0|     ASTORIA|   08 RENTALS - ELEV...|                   2|  890| 91|                       D1|   23-06 21ST STREET|   11105|               59|               0|         59|         10379.0|          50100.0|      1929|                        2|                            D1|    1.16E7|2022-01-27|
|    4.0|     ASTORIA|   08 RENTALS - ELEV...|                   2|  910| 27|                       D3|      26-12 4 STREET|   11102|               18|               0|         18|          5159.0|          15270.0|      2021|                        2|                            D3|       0.0|2022-02-16|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-43 14 STREET, 15A|   11106|                0|            null|          0|            null|             null|      1958|                        2|                            D4|  475000.0|2022-08-10|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-43 14TH STREET...|   11106|                0|            null|          0|            null|             null|      1958|                        2|                            D4|  455000.0|2022-06-17|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-43 14TH STREET...|   11106|                0|            null|          0|            null|             null|      1958|                        2|                            D4|  425000.0|2022-02-10|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|   33-47 14TH ST, 4D|   11106|                0|            null|          0|            null|             null|      1958|                        2|                            D4|  228000.0|2022-10-24|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-55 14TH STREET...|   11106|                0|            null|          0|            null|             null|      1958|                        2|                            D4|  448000.0|2022-11-29|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-60 21 STREET, 10C|   11106|                0|            null|          0|            null|             null|      1958|                        2|                            D4|  360000.0|2022-04-12|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|  33-60 21ST ST, 12A|   11106|                0|            null|          0|            null|             null|      1958|                        2|                            D4|  635000.0|2022-09-19|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-60 21ST STREET...|   11106|                0|            null|          0|            null|             null|      1958|                        2|                            D4|  565000.0|2022-12-20|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-60 21ST STREET...|   11106|                0|            null|          0|            null|             null|      1958|                        2|                            D4|  610000.0|2022-09-13|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-64 21ST STREET...|   11106|                0|            null|          0|            null|             null|      1958|                        2|                            D4|  489000.0|2022-01-20|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-64 21ST STREET...|   11106|                0|            null|          0|            null|             null|      1958|                        2|                            D4|  470000.0|2022-01-12|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-64 21ST STREET...|   11106|                0|            null|          0|            null|             null|      1958|                        2|                            D4|  458200.0|2022-07-06|
|    4.0|     ASTORIA|   10 COOPS - ELEVAT...|                   2|  528| 50|                       D4|33-64 21ST STREET...|   11106|                0|            null|          0|            null|             null|      1958|                        2|                            D4|  485000.0|2022-08-26|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- borough: double (nullable = true)
 |-- neighborhood: string (nullable = true)
 |-- building_class_category: string (nullable = true)
 |-- tax_class_at_present: string (nullable = true)
 |-- block: integer (nullable = true)
 |-- lot: integer (nullable = true)
 |-- building_class_at_present: string (nullable = true)
 |-- address: string (nullable = true)
 |-- zip_code: integer (nullable = true)
 |-- residential_units: integer (nullable = true)
 |-- commercial_units: integer (nullable = true)
 |-- total_units: integer (nullable = false)
 |-- land_square_feet: double (nullable = true)
 |-- gross_square_feet: double (nullable = true)
 |-- year_built: integer (nullable = true)
 |-- tax_class_at_time_of_sale: integer (nullable = true)
 |-- building_class_at_time_of_sale: string (nullable = true)
 |-- sale_price: double (nullable = true)
 |-- sale_date: string (nullable = true)

## Now about 50K from the residential_units missing data solved

## The other records can't have residential units so the value will be 0

In [ ]:
df.filter(col("residential_units").isNull()).select("building_class_category").distinct().show(truncate=False,n = 1000)

+-----------------------+
|building_class_category|
+-----------------------+
+-----------------------+

## Now the commercial units

In [ ]:
df.filter(col("commercial_units").isNull()).select("building_class_category").distinct().show(truncate=False,n = 1000)

+------------------------------------------+
|building_class_category                   |
+------------------------------------------+
|02 TWO FAMILY DWELLINGS                   |
|17 CONDO COOPS                            |
|13 CONDOS - ELEVATOR APARTMENTS           |
|08 RENTALS - ELEVATOR APARTMENTS          |
|09 COOPS - WALKUP APARTMENTS              |
|12 CONDOS - WALKUP APARTMENTS             |
|15 CONDOS - 2-10 UNIT RESIDENTIAL         |
|16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT|
|04 TAX CLASS 1 CONDOS                     |
|01 ONE FAMILY DWELLINGS                   |
|11 SPECIAL CONDO BILLING LOTS             |
|21 OFFICE BUILDINGS                       |
|10 COOPS - ELEVATOR APARTMENTS            |
+------------------------------------------+

In [ ]:
df = df.withColumn(
    "commercial_units",
    when(
        (col("commercial_units").isNull()) &
        (col("building_class_category").isin(
            "01 ONE FAMILY DWELLINGS",
            "02 TWO FAMILY DWELLINGS",
            "03 THREE FAMILY DWELLINGS",
            "08 RENTALS - ELEVATOR APARTMENTS",
            "09 COOPS - WALKUP APARTMENTS",
            "10 COOPS - ELEVATOR APARTMENTS",
            "12 CONDOS - WALKUP APARTMENTS",
            "13 CONDOS - ELEVATOR APARTMENTS",
            "15 CONDOS - 2-10 UNIT RESIDENTIAL",
            "04 TAX CLASS 1 CONDOS",
            "11 SPECIAL CONDO BILLING LOTS",
            "17 CONDO COOPS"
        )),
        "0.0"
    ).when(
        (col("commercial_units").isNull()) &
        (col("building_class_category") == "16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT"),
        "1.0"
    ).when(
        (col("commercial_units").isNull()) &
        (col("building_class_category") == "21 OFFICE BUILDINGS") &
        (col("total_units").isNotNull()),
        col("total_units")
    ).otherwise(col("commercial_units"))
)

In [ ]:
df.select(count(when(col("commercial_units").isNull(), "commercial_units")).alias("commercial_units")).show()

+----------------+
|commercial_units|
+----------------+
|               0|
+----------------+

In [ ]:
df.filter(col("commercial_units").isNull()).select("building_class_category").distinct().show(truncate=False,n = 1000)

+-----------------------+
|building_class_category|
+-----------------------+
+-----------------------+

## Land and gross Square feet imputation

In [ ]:
null_count = df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns])
null_count.show()

+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+---------+
|borough|neighborhood|building_class_category|tax_class_at_present|block|lot|building_class_at_present|address|zip_code|residential_units|commercial_units|total_units|land_square_feet|gross_square_feet|year_built|tax_class_at_time_of_sale|building_class_at_time_of_sale|sale_price|sale_date|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+---------+
|      0|           0|                      0|                 112|    0|  0|                      112|      0|      22|                0|               0|          0|          113118|           113118|     16456|                        1|                             1|         1|        1|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+---------+

In [ ]:
df.filter(col("land_square_feet").isNull()).select("building_class_category").distinct().show(truncate=False , n=1000)

+------------------------------------------+
|building_class_category                   |
+------------------------------------------+
|02 TWO FAMILY DWELLINGS                   |
|17 CONDO COOPS                            |
|49 CONDO WAREHOUSES/FACTORY/INDUS         |
|28 COMMERCIAL CONDOS                      |
|47 CONDO NON-BUSINESS STORAGE             |
|13 CONDOS - ELEVATOR APARTMENTS           |
|08 RENTALS - ELEVATOR APARTMENTS          |
|09 COOPS - WALKUP APARTMENTS              |
|48 CONDO TERRACES/GARDENS/CABANAS         |
|12 CONDOS - WALKUP APARTMENTS             |
|15 CONDOS - 2-10 UNIT RESIDENTIAL         |
|44 CONDO PARKING                          |
|16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT|
|43 CONDO OFFICE BUILDINGS                 |
|45 CONDO HOTELS                           |
|04 TAX CLASS 1 CONDOS                     |
|01 ONE FAMILY DWELLINGS                   |
|46 CONDO STORE BUILDINGS                  |
|11 SPECIAL CONDO BILLING LOTS             |
|21 OFFICE BUILDINGS                       |
|10 COOPS - ELEVATOR APARTMENTS            |
|42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC |
+------------------------------------------+

In [ ]:
df.filter(col("land_square_feet").isNotNull()).show()

+-------+------------------+-----------------------+--------------------+-----+---+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+
|borough|      neighborhood|building_class_category|tax_class_at_present|block|lot|building_class_at_present|             address|zip_code|residential_units|commercial_units|total_units|land_square_feet|gross_square_feet|year_built|tax_class_at_time_of_sale|building_class_at_time_of_sale|sale_price| sale_date|
+-------+------------------+-----------------------+--------------------+-----+---+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+
|    4.0|AIRPORT LA GUARDIA|   01 ONE FAMILY DWE...|                   1|  949| 34|                       A5|   19-48 81ST STREET|   11370|                1|               0|          1|          1799.0|           1224.0|      1945|                        1|                            A5|  864195.0|2022-07-15|
|    4.0|AIRPORT LA GUARDIA|   01 ONE FAMILY DWE...|                   1|  949| 37|                       A5|   19-54 81ST STREET|   11370|                1|               0|          1|          1799.0|           1224.0|      1945|                        1|                            A5|  815000.0|2022-06-24|
|    4.0|AIRPORT LA GUARDIA|   01 ONE FAMILY DWE...|                   1|  976| 55|                       A5|   21-33 80TH STREET|   11370|                1|               0|          1|          1799.0|           1224.0|      1950|                        1|                            A5|  830000.0|2022-09-23|
|    4.0|AIRPORT LA GUARDIA|   01 ONE FAMILY DWE...|                   1|  976| 60|                       A5|   21-23 80TH STREET|   11370|                1|               0|          1|          1800.0|           1224.0|      1950|                        1|                            A5|  900000.0|2022-02-08|
|    4.0|AIRPORT LA GUARDIA|   03 THREE FAMILY D...|                   1|  949| 56|                       C0|   19-69 80TH STREET|   11370|                3|               0|          3|          2000.0|           2835.0|      1945|                        1|                            C0|       0.0|2022-03-08|
|    4.0|AIRPORT LA GUARDIA|   03 THREE FAMILY D...|                   1|  949| 56|                       C0|   19-69 80TH STREET|   11370|                3|               0|          3|          2000.0|           2835.0|      1945|                        1|                            C0|       0.0|2022-04-12|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15830|  5|                       A6|40-10 ROCKAWAY BE...|   11691|                1|               0|          1|          1594.0|            482.0|      1920|                        1|                            A6|  195000.0|2022-02-03|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15830|  8|                       A5|4016 ROCKAWAY BEA...|   11691|                1|               0|          1|          3231.0|           1520.0|      2005|                        1|                            A5|  585000.0|2022-07-27|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15830| 48|                       A5| 335 BEACH 40 STREET|   11691|                1|               0|          1|          2245.0|           1350.0|      2005|                        1|                            A5|       0.0|2022-07-01|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15833| 47|                       A5|341 BEACH 42ND ST...|   11691|                1|               0|          1|          2850.0|           1332.0|      2006|                        1|                            A5|  549999.0|2022-09-23|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15834| 57|                       A5|      329 BEACH 43RD|   11691|                1|               0|          1|          2228.0|           1476.0|      2006|                        1|                            A5|  315000.0|2022-04-15|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15834| 57|                       A5|   329 BEACH 43RD ST|   11691|                1|               0|          1|          2228.0|           1476.0|      2006|                        1|                            A5|  600000.0|2022-11-07|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15835| 63|                       A2|337 BEACH 44TH ST...|   11691|                1|               0|          1|          3431.0|           2268.0|      1920|                        1|                            A2|       0.0|2022-05-25|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15837| 27|                       A2| 354 BEACH 46 STREET|   11691|                1|               0|          1|          3804.0|           2304.0|      1925|                        1|                            A2|  190000.0|2022-08-19|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15837| 56|                       A1|335 BEACH 45TH ST...|   11691|                1|               0|          1|          2470.0|           1048.0|      1925|                        1|                            A1|  505000.0|2022-03-11|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15839| 64|                       A2| 311 BEACH 47 STREET|   11691|                1|               0|          1|          2853.0|           2080.0|      1920|                        1|                            A2|       0.0|2022-08-24|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15849| 22|                       A6|40-01 ROCKAWAY BE...|   11691|                1|               0|          1|          2626.0|            618.0|      1920|                        1|                            A6|  542000.0|2022-03-01|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15850| 30|                       A6| 206 BEACH 42 STREET|   11691|                1|               0|          1|          2000.0|            560.0|      1920|                        1|                            A6|  375000.0|2022-09-23|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15905| 47|                       A5|123 BEACH 62ND ST...|   11692|                1|               0|          1|          4413.0|           2626.0|      2014|                        1|                            A5| 1138000.0|2022-10-14|
|    4.0|           ARVERNE|   01 ONE FAMILY DWE...|                   1|15908| 16|                       A0|63-07 BEACH CHANN...|   11692|                1|               0|          1|          4000.0|           1020.0|      1950|                        1|                            A0|       0.0|2022-03-31|
+-------+------------------+-----------------------+--------------------+-----+---+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+
only showing top 20 rows

## Smart Imputation

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import col, when, expr, lit

def smart_imputation(df):
    # List of building class categories where land_square_feet is typically irrelevant
    zero_land_categories = [
        "CONDO", "COOPS", "CONDO PARKING", "CONDO NON-BUSINESS STORAGE",
        "CONDO OFFICE BUILDINGS", "CONDO STORE BUILDINGS", "CONDO HOTELS",
        "CONDO TERRACES/GARDENS/CABANAS", "CONDO WAREHOUSES/FACTORY/INDUS",
        "CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC"
    ]

    # Create boolean column to identify condo-like properties
    df = df.withColumn(
        "is_condo_type",
        col("building_class_category").rlike("(?i)" + "|".join(zero_land_categories))
    )

    # Define windows with increasing generalization
    window_detailed = Window.partitionBy("building_class_category", "borough", "neighborhood")
    window_medium = Window.partitionBy("building_class_category", "borough")
    window_basic = Window.partitionBy("building_class_category")

    # Calculate medians
    df = (df
        .withColumn("median_gross_detailed", expr("percentile_approx(gross_square_feet, 0.5)").over(window_detailed))
        .withColumn("median_gross_medium", expr("percentile_approx(gross_square_feet, 0.5)").over(window_medium))
        .withColumn("median_gross_basic", expr("percentile_approx(gross_square_feet, 0.5)").over(window_basic))
        .withColumn("median_land_detailed", expr("percentile_approx(land_square_feet, 0.5)").over(window_detailed))
        .withColumn("median_land_medium", expr("percentile_approx(land_square_feet, 0.5)").over(window_medium))
        .withColumn("median_land_basic", expr("percentile_approx(land_square_feet, 0.5)").over(window_basic))
    )

    # Set flags BEFORE imputation (based on current nulls)
    df = df.withColumn("gross_sqft_imputed_flag", col("gross_square_feet").isNull())
    df = df.withColumn("land_sqft_imputed_flag", col("land_square_feet").isNull())

    # Impute gross_square_feet
    df = df.withColumn(
        "gross_square_feet",
        when(col("gross_square_feet").isNotNull(), col("gross_square_feet"))
        .when(col("median_gross_detailed").isNotNull(), col("median_gross_detailed"))
        .when(col("median_gross_medium").isNotNull(), col("median_gross_medium"))
        .otherwise(col("median_gross_basic"))
    )

    # Impute land_square_feet with conditional logic for condo-like categories
    df = df.withColumn(
        "land_square_feet",
        when(col("land_square_feet").isNotNull(), col("land_square_feet"))
        .when(col("is_condo_type"), lit(0))  # For condo/coops etc.
        .when(col("median_land_detailed").isNotNull(), col("median_land_detailed"))
        .when(col("median_land_medium").isNotNull(), col("median_land_medium"))
        .otherwise(col("median_land_basic"))
    )

    # Clean up helper columns
    df = df.drop(
        "median_gross_detailed", "median_gross_medium", "median_gross_basic",
        "median_land_detailed", "median_land_medium", "median_land_basic",
        "is_condo_type"
    )

    return df

In [ ]:
df_processed = smart_imputation(df)

In [ ]:
df_processed = df_processed.withColumn(
    "gross_square_feet",
    when(col("gross_square_feet").isNull() & col("building_class_category").contains("VACANT"), 0)
    .otherwise(col("gross_square_feet"))
).withColumn(
    "land_square_feet",
    when(col("land_square_feet").isNull() & col("building_class_category").contains("CONDO"), 0)
    .otherwise(col("land_square_feet"))
)

In [ ]:
null_count = df_processed.select([count(when(col(c).isNull(), c)).alias(c) for c in df_processed.columns])
null_count.show()

+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+---------+-----------------------+----------------------+
|borough|neighborhood|building_class_category|tax_class_at_present|block|lot|building_class_at_present|address|zip_code|residential_units|commercial_units|total_units|land_square_feet|gross_square_feet|year_built|tax_class_at_time_of_sale|building_class_at_time_of_sale|sale_price|sale_date|gross_sqft_imputed_flag|land_sqft_imputed_flag|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+---------+-----------------------+----------------------+
|      0|           0|                      0|                 112|    0|  0|                      112|      0|      22|                0|               0|          0|               0|           112470|     16456|                        1|                             1|         1|        1|                      0|                     0|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+---------+-----------------------+----------------------+

In [ ]:
df_processed.filter(
    (col("land_sqft_imputed_flag") == True) | (col("gross_sqft_imputed_flag") == True)
).show()

+-------+-------------+-----------------------+--------------------+-----+----+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+-----------------------+----------------------+
|borough| neighborhood|building_class_category|tax_class_at_present|block| lot|building_class_at_present|             address|zip_code|residential_units|commercial_units|total_units|land_square_feet|gross_square_feet|year_built|tax_class_at_time_of_sale|building_class_at_time_of_sale|sale_price| sale_date|gross_sqft_imputed_flag|land_sqft_imputed_flag|
+-------+-------------+-----------------------+--------------------+-----+----+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+-----------------------+----------------------+
|    5.0|  TOTTENVILLE|   02 TWO FAMILY DWE...|                null| 7864|  76|                     null| 549 ROCKAWAY STREET|   10307|                2|             0.0|          0|          5000.0|           2568.0|      2022|                        1|                            B2| 1075272.0|2022-02-17|                   true|                  true|
|    1.0|ALPHABET CITY|         17 CONDO COOPS|                   2|  389|1003|                       R9|     99 AVENUE B, 2A|   10009|                0|             0.0|          0|             0.0|             null|      1900|                        2|                            R9|  690000.0|2022-07-01|                   true|                  true|
|    1.0|ALPHABET CITY|         17 CONDO COOPS|                   2|  389|1003|                       R9|     99 AVENUE B, 2C|   10009|                0|             0.0|          0|             0.0|             null|      1900|                        2|                            R9|  375000.0|2022-12-29|                   true|                  true|
|    1.0|ALPHABET CITY|         17 CONDO COOPS|                   2|  389|1003|                       R9|     99 AVENUE B, 5D|   10009|                0|             0.0|          0|             0.0|             null|      1900|                        2|                            R9|  347500.0|2022-09-14|                   true|                  true|
|    1.0|ALPHABET CITY|         17 CONDO COOPS|                   2|  399|1002|                       R9|   50 AVENUE A, PH6B|   10009|                0|             0.0|          0|             0.0|             null|      1920|                        2|                            R9| 1750000.0|2022-03-29|                   true|                  true|
|    1.0|ALPHABET CITY|         17 CONDO COOPS|                   2|  407|1003|                       R9|    214 AVENUE A, 1B|   10009|                0|             0.0|          0|             0.0|             null|      1920|                        2|                            R9|  450000.0|2022-09-28|                   true|                  true|
|    1.0|ALPHABET CITY|         17 CONDO COOPS|                   2|  407|1003|                       R9|    214 AVENUE A, 3C|   10009|                0|             0.0|          0|             0.0|             null|      1920|                        2|                            R9|  785000.0|2022-03-29|                   true|                  true|
|    1.0|ALPHABET CITY|         17 CONDO COOPS|                   2|  407|1003|                       R9|    214 AVENUE A, 3D|   10009|                0|             0.0|          0|             0.0|             null|      1920|                        2|                            R9|  850000.0|2022-04-15|                   true|                  true|
|    1.0|ALPHABET CITY|         17 CONDO COOPS|                   2|  407|1003|                       R9|  214 AVENUE A, TERR|   10009|                0|             0.0|          0|             0.0|             null|      1920|                        2|                            R9|  838000.0|2022-11-28|                   true|                  true|
|    1.0|ALPHABET CITY|         17 CONDO COOPS|                   2|  389|1003|                       R9|     99 AVENUE B, 4A|   10009|                0|             0.0|          0|             0.0|             null|      1900|                        2|                            R9|  665000.0|2024-09-13|                   true|                  true|
|    1.0|ALPHABET CITY|         17 CONDO COOPS|                   2|  389|1003|                       R9|     99 AVENUE B, 4F|   10009|                0|             0.0|          0|             0.0|             null|      1900|                        2|                            R9|       0.0|2024-04-26|                   true|                  true|
|    1.0|ALPHABET CITY|         17 CONDO COOPS|                   2|  398|1102|                       R9|186 EAST 2 STREET, 4|   10009|                0|             0.0|          0|             0.0|             null|      1920|                        2|                            R9|  450000.0|2024-12-11|                   true|                  true|
|    1.0|ALPHABET CITY|         17 CONDO COOPS|                   2|  398|1102|                       R9|186 EAST 2ND STRE...|   10009|                0|             0.0|          0|             0.0|             null|      1920|                        2|                            R9|  305000.0|2024-01-23|                   true|                  true|
|    1.0|ALPHABET CITY|         17 CONDO COOPS|                   2|  407|1003|                       R9|    214 AVENUE A, 1F|   10009|                0|             0.0|          0|             0.0|             null|      1920|                        2|                            R9|  425000.0|2024-02-15|                   true|                  true|
|    1.0|ALPHABET CITY|         17 CONDO COOPS|                   2|  407|1003|                       R9|    214 AVENUE A, 3D|   10009|                0|             0.0|          0|             0.0|             null|      1920|                        2|                            R9|  825000.0|2024-10-31|                   true|                  true|
|    1.0|ALPHABET CITY|         17 CONDO COOPS|                   2|  389|1003|                       R9|     99 AVENUE B, 3E|   10009|                0|             0.0|          0|             0.0|             null|      1900|                        2|                            R9| 1325000.0|2023-04-26|                   true|                  true|
|    1.0|ALPHABET CITY|         17 CONDO COOPS|                   2|  399|1002|                       R9|     50 AVENUE A, 5D|   10009|                0|             0.0|          0|             0.0|             null|      1920|                        2|                            R9| 1200000.0|2023-10-05|                   true|                  true|
|    1.0|ALPHABET CITY|         17 CONDO COOPS|                   2|  407|1003|                       R9| 214 AVENUE A, 2E/3E|   10009|                0|             0.0|          0|             0.0|             null|      1920|                        2|                            R9| 1405000.0|2023-02-22|                   true|                  true|
|    1.0|      CHELSEA|         17 CONDO COOPS|                   2|  718|1004|                       R9|177 NINTH AVENUE, 3G|   10011|                0|             0.0|          0|             0.0|             null|      2008|                        2|                            R9|       0.0|2022-10-21|                   true|                  true|
|    1.0|      CHELSEA|         17 CONDO COOPS|                   2|  718|1004|                       R9|177 NINTH AVENUE, 4A|   10011|                0|             0.0|          0|             0.0|             null|      2008|                        2|                            R9|   1.225E7|2022-11-15|                   true|                  true|
+-------+-------------+-----------------------+--------------------+-----+----+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+-----------------------+----------------------+
only showing top 20 rows

In [ ]:
df_remaining_nulls = df_processed.filter(col("gross_square_feet").isNull() | col("land_square_feet").isNull())
df_remaining_nulls.groupBy("building_class_category").count().orderBy("count", ascending=False).show(50,truncate=False)

+------------------------------------------+-----+
|building_class_category                   |count|
+------------------------------------------+-----+
|10 COOPS - ELEVATOR APARTMENTS            |40672|
|13 CONDOS - ELEVATOR APARTMENTS           |40265|
|09 COOPS - WALKUP APARTMENTS              |7704 |
|04 TAX CLASS 1 CONDOS                     |4699 |
|15 CONDOS - 2-10 UNIT RESIDENTIAL         |4388 |
|44 CONDO PARKING                          |4238 |
|17 CONDO COOPS                            |3661 |
|12 CONDOS - WALKUP APARTMENTS             |2652 |
|47 CONDO NON-BUSINESS STORAGE             |1245 |
|43 CONDO OFFICE BUILDINGS                 |920  |
|28 COMMERCIAL CONDOS                      |700  |
|46 CONDO STORE BUILDINGS                  |518  |
|16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT|331  |
|45 CONDO HOTELS                           |258  |
|48 CONDO TERRACES/GARDENS/CABANAS         |107  |
|49 CONDO WAREHOUSES/FACTORY/INDUS         |73   |
|42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC |39   |
+------------------------------------------+-----+

In [ ]:
df_processed.filter(col("gross_square_feet").isNull()) \
  .groupBy("building_class_category") \
  .count() \
  .orderBy("count", ascending=False) \
  .show(50, truncate=False)

+------------------------------------------+-----+
|building_class_category                   |count|
+------------------------------------------+-----+
|10 COOPS - ELEVATOR APARTMENTS            |40672|
|13 CONDOS - ELEVATOR APARTMENTS           |40265|
|09 COOPS - WALKUP APARTMENTS              |7704 |
|04 TAX CLASS 1 CONDOS                     |4699 |
|15 CONDOS - 2-10 UNIT RESIDENTIAL         |4388 |
|44 CONDO PARKING                          |4238 |
|17 CONDO COOPS                            |3661 |
|12 CONDOS - WALKUP APARTMENTS             |2652 |
|47 CONDO NON-BUSINESS STORAGE             |1245 |
|43 CONDO OFFICE BUILDINGS                 |920  |
|28 COMMERCIAL CONDOS                      |700  |
|46 CONDO STORE BUILDINGS                  |518  |
|16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT|331  |
|45 CONDO HOTELS                           |258  |
|48 CONDO TERRACES/GARDENS/CABANAS         |107  |
|49 CONDO WAREHOUSES/FACTORY/INDUS         |73   |
|42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC |39   |
+------------------------------------------+-----+

In [ ]:
def impute_gross_square_feet(df):
    # 1 Special case: Impute zero for non-residential condo types
    df = df.withColumn(
        "gross_square_feet",
        when(
            col("building_class_category").isin(
                "44 CONDO PARKING",
                "47 CONDO NON-BUSINESS STORAGE",
                "48 CONDO TERRACES/GARDENS/CABANAS"
            ),
            lit(0)
        ).otherwise(col("gross_square_feet"))
    )

    # 2 Smart imputation by neighborhood + building class
    window_neigh_class = Window.partitionBy("neighborhood", "building_class_category")
    df = df.withColumn(
        "median_gross_local",
        expr("percentile_approx(gross_square_feet, 0.5)").over(window_neigh_class)
    )
    df = df.withColumn(
        "gross_square_feet",
        when(col("gross_square_feet").isNotNull(), col("gross_square_feet"))
        .otherwise(col("median_gross_local"))
    ).drop("median_gross_local")

    # 3 Fallback imputation by building_class_category only
    window_class = Window.partitionBy("building_class_category")
    df = df.withColumn(
        "median_gross_category",
        expr("percentile_approx(gross_square_feet, 0.5)").over(window_class)
    )
    df = df.withColumn(
        "gross_square_feet",
        when(col("gross_square_feet").isNotNull(), col("gross_square_feet"))
        .otherwise(col("median_gross_category"))
    ).drop("median_gross_category")

    return df

In [ ]:
df_processed = impute_gross_square_feet(df_processed)

In [ ]:
null_count = df_processed.select([count(when(col(c).isNull(), c)).alias(c) for c in df_processed.columns])
null_count.show()

+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+---------+-----------------------+----------------------+
|borough|neighborhood|building_class_category|tax_class_at_present|block|lot|building_class_at_present|address|zip_code|residential_units|commercial_units|total_units|land_square_feet|gross_square_feet|year_built|tax_class_at_time_of_sale|building_class_at_time_of_sale|sale_price|sale_date|gross_sqft_imputed_flag|land_sqft_imputed_flag|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+---------+-----------------------+----------------------+
|      0|           0|                      0|                 112|    0|  0|                      112|      0|      22|                0|               0|          0|               0|           106880|     16456|                        1|                             1|         1|        1|                      0|                     0|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+---------+-----------------------+----------------------+

In [ ]:
# Step 1: Impute based on (borough, neighborhood, building_class_category)
w1 = Window.partitionBy("borough", "neighborhood", "building_class_category")
df_processed = df_processed.withColumn("year_built_lvl1", round(avg("year_built").over(w1)))

# Step 2: Impute based on (borough, building_class_category)
w2 = Window.partitionBy("borough", "building_class_category")
df_processed = df_processed.withColumn("year_built_lvl2", round(avg("year_built").over(w2)))

# Step 3: Impute based on (building_class_category)
w3 = Window.partitionBy("building_class_category")
df_processed = df_processed.withColumn("year_built_lvl3", round(avg("year_built").over(w3)))

# Step 4: Overall median as fallback
overall_median = df_processed.approxQuantile("year_built", [0.5], 0.01)[0]

# Step 5: Apply hierarchical imputation
df_processed = df_processed.withColumn(
    "year_built_imputed",
    when(col("year_built").isNotNull(), col("year_built"))
    .when(col("year_built_lvl1").isNotNull(), col("year_built_lvl1"))
    .when(col("year_built_lvl2").isNotNull(), col("year_built_lvl2"))
    .when(col("year_built_lvl3").isNotNull(), col("year_built_lvl3"))
)

# Optional: Replace original year_built column
df_processed = df_processed.drop("year_built")

df_processed = df_processed.withColumn(
    "year_built", 
    col("year_built_imputed").cast(IntegerType())
)

# Clean up helper columns
df_processed = df_processed.drop("year_built_lvl1", "year_built_lvl2", "year_built_lvl3")

In [ ]:
df_cleaned = df_processed.na.drop(subset=["tax_class_at_present", "building_class_at_present", "zip_code","tax_class_at_time_of_sale", "building_class_at_time_of_sale", "sale_price", "sale_date"])

In [ ]:
null_count = df_cleaned.select([count(when(col(c).isNull(), c)).alias(c) for c in df_cleaned.columns])
null_count.show()

+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+--------+-----------------+----------------+-----------+----------------+-----------------+-------------------------+------------------------------+----------+---------+-----------------------+----------------------+------------------+----------+
|borough|neighborhood|building_class_category|tax_class_at_present|block|lot|building_class_at_present|address|zip_code|residential_units|commercial_units|total_units|land_square_feet|gross_square_feet|tax_class_at_time_of_sale|building_class_at_time_of_sale|sale_price|sale_date|gross_sqft_imputed_flag|land_sqft_imputed_flag|year_built_imputed|year_built|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+--------+-----------------+----------------+-----------+----------------+-----------------+-------------------------+------------------------------+----------+---------+-----------------------+----------------------+------------------+----------+
|      0|           0|                      0|                   0|    0|  0|                        0|      0|       0|                0|               0|          0|               0|           106784|                        0|                             0|         0|        0|                      0|                     0|                 0|         0|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+--------+-----------------+----------------+-----------+----------------+-----------------+-------------------------+------------------------------+----------+---------+-----------------------+----------------------+------------------+----------+

In [ ]:
df_cleaned.show()

+-------+-------------+-----------------------+--------------------+-----+---+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+-------------------------+------------------------------+----------+----------+-----------------------+----------------------+------------------+----------+
|borough| neighborhood|building_class_category|tax_class_at_present|block|lot|building_class_at_present|             address|zip_code|residential_units|commercial_units|total_units|land_square_feet|gross_square_feet|tax_class_at_time_of_sale|building_class_at_time_of_sale|sale_price| sale_date|gross_sqft_imputed_flag|land_sqft_imputed_flag|year_built_imputed|year_built|
+-------+-------------+-----------------------+--------------------+-----+---+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+-------------------------+------------------------------+----------+----------+-----------------------+----------------------+------------------+----------+
|    1.0|ALPHABET CITY|   02 TWO FAMILY DWE...|                   1|  377|  1|                       S2|        110 AVENUE C|   10009|                2|               1|          3|          1502.0|           2790.0|                        1|                            S2| 2999999.0|2022-09-15|                  false|                 false|            1901.0|      1901|
|    1.0|ALPHABET CITY|   02 TWO FAMILY DWE...|                   1|  372| 36|                       S2|         19 AVENUE D|   10009|                2|               1|          3|           826.0|           2481.0|                        1|                            S2|       1.0|2023-01-20|                  false|                 false|            1900.0|      1900|
|    1.0|ALPHABET CITY|   02 TWO FAMILY DWE...|                   1|  386|  7|                       S2|         49 AVENUE B|   10009|                2|               1|          3|          1725.0|           2304.0|                        1|                            S2|       0.0|2023-11-02|                  false|                 false|            1880.0|      1880|
|    1.0|ALPHABET CITY|   02 TWO FAMILY DWE...|                   1|  386|  8|                       S2|         51 AVENUE B|   10009|                2|               1|          3|          1530.0|           1920.0|                        1|                            S2|       0.0|2023-11-02|                  false|                 false|            1880.0|      1880|
|    1.0|      CHELSEA|   02 TWO FAMILY DWE...|                   1|  719| 59|                       B9|       428 WEST 22ND|   10011|                2|               0|          2|          1821.0|           3230.0|                        1|                            B9| 5300000.0|2022-04-28|                  false|                 false|            1910.0|      1910|
|    1.0|      CHELSEA|   02 TWO FAMILY DWE...|                   1|  719| 68|                       B2|446 WEST 22ND STREET|   10011|                2|               0|          2|          1080.0|           3580.0|                        1|                            B2|       0.0|2024-08-01|                  false|                 false|            1920.0|      1920|
|    1.0|      CHELSEA|   02 TWO FAMILY DWE...|                   1|  742| 19|                       B9|331 WEST 18TH STREET|   10011|                2|               0|          2|          2147.0|           4554.0|                        1|                            B9| 5000000.0|2024-11-21|                  false|                 false|            1910.0|      1910|
|    1.0|      CHELSEA|   02 TWO FAMILY DWE...|                   1|  743| 78|                       B9|358 WEST 20TH STREET|   10011|                2|               0|          2|          1533.0|           3840.0|                        1|                            B9|       0.0|2024-01-12|                  false|                 false|            1910.0|      1910|
|    1.0|      CHELSEA|   02 TWO FAMILY DWE...|                   1|  743| 78|                       B9|358 WEST 20TH STREET|   10011|                2|               0|          2|          1533.0|           3840.0|                        1|                            B9| 5809656.0|2024-07-24|                  false|                 false|            1910.0|      1910|
|    1.0|      CHELSEA|   02 TWO FAMILY DWE...|                   1|  744| 30|                       B9|313 WEST 20TH STREET|   10011|                2|               0|          2|          2300.0|           9200.0|                        1|                            B9|    1.07E7|2023-08-10|                  false|                 false|            1900.0|      1900|
|    1.0|      CHELSEA|   02 TWO FAMILY DWE...|                   1|  745| 51|                       B9|324 WEST 22ND STREET|   10011|                2|               0|          2|          2049.0|           4648.0|                        1|                            B9| 6250000.0|2023-10-18|                  false|                 false|            1910.0|      1910|
|    1.0|      CHELSEA|   02 TWO FAMILY DWE...|                   1|  745| 64|                       B1|         350 W 22 ST|   10011|                2|               0|          2|          2057.0|           4640.0|                        1|                            B1|       0.0|2023-07-21|                  false|                 false|            1910.0|      1910|
|    1.0|    CHINATOWN|   02 TWO FAMILY DWE...|                   1|  199| 26|                       S2|  73 MULBERRY STREET|   10013|                2|               1|          3|          2500.0|           3500.0|                        1|                            S2|       0.0|2024-04-02|                  false|                 false|            1925.0|      1925|
|    1.0|    CHINATOWN|   02 TWO FAMILY DWE...|                   1|  279| 14|                       B1|     9 OLIVER STREET|   10038|                2|               0|          2|           944.0|           3600.0|                        1|                            B1|       0.0|2023-03-17|                  false|                 false|            1901.0|      1901|
|    1.0|      CLINTON|   02 TWO FAMILY DWE...|                   1| 1060| 21|                       B9|419 WEST 50TH STREET|   10019|                2|               0|          2|          1674.0|           2500.0|                        1|                            B9| 3165000.0|2022-03-31|                  false|                 false|            1920.0|      1920|
|    1.0|      CLINTON|   02 TWO FAMILY DWE...|                   1| 1060|121|                       B9|421 WEST 50TH STREET|   10019|                2|               0|          2|          1674.0|           3700.0|                        1|                            B9| 3665000.0|2022-03-31|                  false|                 false|            1920.0|      1920|
|    1.0|      CLINTON|   02 TWO FAMILY DWE...|                   1| 1053| 15|                       B9|439 WEST 43RD STREET|   10036|                2|               0|          2|          1858.0|           3312.0|                        1|                            B9| 3250000.0|2024-11-19|                  false|                 false|            1899.0|      1899|
|    1.0| EAST VILLAGE|   02 TWO FAMILY DWE...|                   1|  434| 55|                       S2| 405 EAST 6TH STREET|   10009|                2|               1|          3|          1953.0|           4872.0|                        1|                            S2|      10.0|2022-01-13|                  false|                 false|            1899.0|      1899|
|    1.0| EAST VILLAGE|   02 TWO FAMILY DWE...|                   1|  467| 52|                       B9|219 EAST 11TH STREET|   10003|                2|               0|          2|          1700.0|           3740.0|                        1|                            B9|       0.0|2022-05-12|                  false|                 false|            1899.0|      1899|
|    1.0| EAST VILLAGE|   02 TWO FAMILY DWE...|                   1|  443| 28|                       B9|       83 2ND STREET|   10003|                2|               0|          2|          2083.0|           5000.0|                        1|                            B9| 5750000.0|2024-05-23|                  false|                 false|            1900.0|      1900|
+-------+-------------+-----------------------+--------------------+-----+---+-------------------------+--------------------+--------+-----------------+----------------+-----------+----------------+-----------------+-------------------------+------------------------------+----------+----------+-----------------------+----------------------+------------------+----------+
only showing top 20 rows

In [ ]:
df_cleaned.printSchema()

root
 |-- borough: double (nullable = true)
 |-- neighborhood: string (nullable = true)
 |-- building_class_category: string (nullable = true)
 |-- tax_class_at_present: string (nullable = true)
 |-- block: integer (nullable = true)
 |-- lot: integer (nullable = true)
 |-- building_class_at_present: string (nullable = true)
 |-- address: string (nullable = true)
 |-- zip_code: integer (nullable = true)
 |-- residential_units: integer (nullable = true)
 |-- commercial_units: string (nullable = true)
 |-- total_units: integer (nullable = false)
 |-- land_square_feet: double (nullable = true)
 |-- gross_square_feet: double (nullable = true)
 |-- tax_class_at_time_of_sale: integer (nullable = true)
 |-- building_class_at_time_of_sale: string (nullable = true)
 |-- sale_price: double (nullable = true)
 |-- sale_date: string (nullable = true)
 |-- gross_sqft_imputed_flag: boolean (nullable = false)
 |-- land_sqft_imputed_flag: boolean (nullable = false)
 |-- year_built_imputed: double (nullable = true)
 |-- year_built: integer (nullable = true)

## Fix Borough name

In [ ]:
df_cleaned= df_cleaned.withColumn("borough_name",
    when(col("borough") == 1.0, "MANHATTAN")
    .when(col("borough") == 2.0, "BRONX")
    .when(col("borough") == 3.0, "BROOKLYN")
    .when(col("borough") == 4.0, "QUEENS")
    .when(col("borough") == 5.0, "STATEN ISLAND")
    .otherwise("UNKNOWN")
).drop("borough","year_built_imputed","land_sqft_imputed_flag","gross_sqft_imputed_flag")

In [ ]:
df_cleaned.show(5)

+-------------+-----------------------+--------------------+-----+---+-------------------------+-------------+--------+-----------------+----------------+-----------+----------------+-----------------+-------------------------+------------------------------+----------+----------+----------+------------+
| neighborhood|building_class_category|tax_class_at_present|block|lot|building_class_at_present|      address|zip_code|residential_units|commercial_units|total_units|land_square_feet|gross_square_feet|tax_class_at_time_of_sale|building_class_at_time_of_sale|sale_price| sale_date|year_built|borough_name|
+-------------+-----------------------+--------------------+-----+---+-------------------------+-------------+--------+-----------------+----------------+-----------+----------------+-----------------+-------------------------+------------------------------+----------+----------+----------+------------+
|ALPHABET CITY|   02 TWO FAMILY DWE...|                   1|  377|  1|                       S2| 110 AVENUE C|   10009|                2|               1|          3|          1502.0|           2790.0|                        1|                            S2| 2999999.0|2022-09-15|      1901|   MANHATTAN|
|ALPHABET CITY|   02 TWO FAMILY DWE...|                   1|  372| 36|                       S2|  19 AVENUE D|   10009|                2|               1|          3|           826.0|           2481.0|                        1|                            S2|       1.0|2023-01-20|      1900|   MANHATTAN|
|ALPHABET CITY|   02 TWO FAMILY DWE...|                   1|  386|  7|                       S2|  49 AVENUE B|   10009|                2|               1|          3|          1725.0|           2304.0|                        1|                            S2|       0.0|2023-11-02|      1880|   MANHATTAN|
|ALPHABET CITY|   02 TWO FAMILY DWE...|                   1|  386|  8|                       S2|  51 AVENUE B|   10009|                2|               1|          3|          1530.0|           1920.0|                        1|                            S2|       0.0|2023-11-02|      1880|   MANHATTAN|
|      CHELSEA|   02 TWO FAMILY DWE...|                   1|  719| 59|                       B9|428 WEST 22ND|   10011|                2|               0|          2|          1821.0|           3230.0|                        1|                            B9| 5300000.0|2022-04-28|      1910|   MANHATTAN|
+-------------+-----------------------+--------------------+-----+---+-------------------------+-------------+--------+-----------------+----------------+-----------+----------------+-----------------+-------------------------+------------------------------+----------+----------+----------+------------+
only showing top 5 rows

In [ ]:
null_count = df_cleaned.select([count(when(col(c).isNull(), c)).alias(c) for c in df_cleaned.columns])
null_count.show()

+------------+-----------------------+--------------------+-----+---+-------------------------+-------+--------+-----------------+----------------+-----------+----------------+-----------------+-------------------------+------------------------------+----------+---------+----------+------------+
|neighborhood|building_class_category|tax_class_at_present|block|lot|building_class_at_present|address|zip_code|residential_units|commercial_units|total_units|land_square_feet|gross_square_feet|tax_class_at_time_of_sale|building_class_at_time_of_sale|sale_price|sale_date|year_built|borough_name|
+------------+-----------------------+--------------------+-----+---+-------------------------+-------+--------+-----------------+----------------+-----------+----------------+-----------------+-------------------------+------------------------------+----------+---------+----------+------------+
|           0|                      0|                   0|    0|  0|                        0|      0|       0|                0|               0|          0|               0|           106784|                        0|                             0|         0|        0|         0|           0|
+------------+-----------------------+--------------------+-----+---+-------------------------+-------+--------+-----------------+----------------+-----------+----------------+-----------------+-------------------------+------------------------------+----------+---------+----------+------------+

In [ ]:
df_cleaned.write.mode("overwrite").csv("hdfs://namenode:8020/data/silver/nyc_silver.csv")

In [ ]:
df_cleaned.printSchema()

: